%h1= t.general.devel
%p= t.devel.first
%p= t.devel.languages
%p= t.devel.second

.project#wordpress
  %h2.center_text.mega_title= t.devel.wordpress.title
  %p= t.devel.wordpress.first
  %p= t.devel.wordpress.second
  %p
    %a{href:"http://wordpress.stackexchange.com/users/298/fernando"}
      %img{src: "http://wordpress.stackexchange.com/users/flair/298.png",
           width: "208",
           height: "58",
           alt: "Profile for Fernando at WordPress, Q&A for WordPress developers and administrators",
           title: "profile for Fernando at WordPress, Q&A for WordPress developers and administrators"}

.project
  %h2.center_text.mega_title= t.devel.instantoh.title
  %p= t.devel.instantoh.first
  %p= t.devel.instantoh.second
  %p= t.devel.instantoh.third
  .center_text{style: "width: 100%"}
    %img{src: "images/instantoh.jpg"}