%h1= t.general.devel

%ul
  %li
    %a{href:"#rubygems"}
      Ruby Gems
  %li
    %a{href:"#wordpress"}
      WordPress
  %li
    %a{href:"#web"}
      Web apps and websites
  %li
    %a{href:"#opendata"}
      Open Data projects

%p= t.devel.first
%p= t.devel.languages
%p= t.devel.second

.project#rubygems
  %h2.center_text.mega_title Ruby Gems
  %p
    I've coded some Ruby gems, mostly for fun. My profile on RubyGems:
    %a{href: "https://rubygems.org/profiles/picandocodigo"}
      picandocodigo
  %img{src: "images/rubygems.jpg"}
.project#wordpress
  %h2.center_text.mega_title= t.devel.wordpress.title
  %p= t.devel.wordpress.first
  %p= t.devel.wordpress.second
  %p
    %a{href:"http://wordpress.stackexchange.com/users/298/fernando"}
      %img{src: "http://wordpress.stackexchange.com/users/flair/298.png",
           width: "208",
           height: "58",
           alt: "Profile for Fernando at WordPress, Q&A for WordPress developers and administrators",
           title: "profile for Fernando at WordPress, Q&A for WordPress developers and administrators"}
.project#web
  %h2.center_text.mega_title Web Apps and websites
  %h3= t.devel.supertt.title
  %p= t.devel.supertt.first
  %p= t.devel.supertt.list
  .center_text{style: "width: 100%"}
    %img{src: "images/supertt.jpg"}
  %h3= t.devel.instantoh.title
  %p= t.devel.instantoh.first
  %p= t.devel.instantoh.second
  %p= t.devel.instantoh.third
  .center_text{style: "width: 100%"}
    %img{src: "images/instantoh.jpg"}
.project#opendata
  %h2.center_text.mega_title Open Data Projects
  %h3 Mo&ntilde;ita Azul
  %p
    Open Data project for the
    %a{href:"http://desarrollandoamerica.org/"}
      Desarrollando América Latina hackathon
    2012.
  %p
    %ul
      %li
        %a{href: "http://dal.picandocodigo.org"}
          Website
      %li
        %a{href: "https://github.com/picandocodigo/Mo-ita-Azul/"}
          Project on GitHub
  %img{src: "images/monita-azul.jpg"}
  %h3 MNAV API - API for the MNAV Museum Open Data
  %p
    An API that uses Open Data from Museo Nacional de Artes Visuales and provides this information in JSON and XML.
  %p
    %ul
      %li
        %a{href: "https://mnav.heroku.com/"}
          Website
      %li
        %a{href: "https://github.com/picandocodigo/mnav-opendata-api"}
          Project on GitHub
      %li
        %a{href: "https://mnavf.heroku.com/"}
          Example of Front-end application
  %img{src: "images/mnavf.jpg"}