!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title
      Fernando Briano
    %link{rel: 'stylesheet', type: 'text/css', href: 'style.css'}
  %body
    %a{href: "https://github.com/picandocodigo/fb_site"}
      %img{class: "github",
      src: "images/forkme.png", alt: "Fork me on GitHub"}
    #header.pure-g-r
      .pure-u-1
        %h1= t.general.name
      .pure-u-1
        .pure-menu.pure-menu-open.pure-menu-horizontal
          %ul
            %li
              %a{href: "/"}
                = t.general.home
            %li
              %a{href: "/about"}
                = t.general.about
            %li
              %a{href: "/wordpress"}
                = t.general.wordpress_devel
            %li
              %a{href: "/contact"}
                = t.general.contact
            %li
              %a{href: "http://picandocodigo.net"}
                = t.general.blog

    #container.pure-g-r
      .pure-u-1-5
        = haml :_sidebar
      .pure-u-3-5
        #info
          = yield
    %script{src: "js/min.js", type:"text/javascript"}