!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title
      Fernando Briano
    %link{rel: 'stylesheet', type: 'text/css', href: 'style.css'}
  %body
    %a{href: "https://github.com/picandocodigo/fb_site"}
      %img{class: "github",
      src: "images/forkme.png", alt: "Fork me on GitHub"}
    #header.pure-g-r
      .pure-u-1
        %h1= t.general.name
      .pure-u-1
        .pure-menu.pure-menu-open.pure-menu-horizontal
          %ul.clear
            %li
              %a{href: "/"}
                = t.general.home
            %li
              %a{href: "/about"}
                = t.general.about
            %li
              %a{href: "/devel"}
                = t.general.devel
            %li
              %a{href: "/contact"}
                = t.general.contact
            %li
              %a{href: "http://picandocodigo.net"}
                = t.general.blog

    #container.pure-g-r
      .pure-u-1-5
        = haml :_sidebar
      .pure-u-3-5
        #info
          = yield
      .pure-u-1-5
        = haml :_firefox

    #footer.pure-g-r
      .pure-u-1
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
      
    %script{src: "js/min.js", type:"text/javascript"}