%h1= t.general.wordpress_devel
%p= t.wordpress.first
%p= t.wordpress.second
%p
  %a{href:"http://wordpress.stackexchange.com/users/298/fernando"}
    %img{src: "http://wordpress.stackexchange.com/users/flair/298.png",
         width: "208",
         height: "58",
         alt: "Profile for Fernando at WordPress, Q&A for WordPress developers and administrators",
         title: "profile for Fernando at WordPress, Q&A for WordPress developers and administrators"}

- unless @plugins.nil?
  %h2= t.wordpress.plugins
  %ul.wp-plugin
    - @plugins.each do |p|
      %li.wp_plugin_div
        = raw(p)


%h2= t.wordpress.blogs
%ul.wp-plugin
  %a{ href: "http://picandocodigo.net" }
    %li.wp_plugin_div
      %h3 Picando C&oacute;digo
      %img{src: "images/blog-pc.jpg", alt: "Picando Código"}
  %a{href: "http://aplicandoscrum.com"}
    %li.wp_plugin_div
      %h3 Aplicando Scrum
      %img{src: "images/blog-scrum.jpg", alt: "Aplicando Scrum"}
  %a{href: "http://navegadoresweb.com"}
    %li.wp_plugin_div
      %h3 Navegadores Web
      %img{src: "images/blog-nw.jpg", alt: "Navegadores Web"}
  %a{href: "http://entropiarecords.com", title: "Entropía Records"}
    %li.wp_plugin_div
      %h3 Entrop&iacute;a Records
      %img{src: "images/blog-ent.jpg", alt: "Entropía Records"}

