---
title: Fernando Briano
---
.col-1-1
  = partial 'programmer'
.col-1-1
  = partial 'videogames'
.col-1-1
  = partial 'writing'
.col-1-1
  = partial 'speaker'
.col-1-1
  = partial 'misc'
.col-1-1
  = partial 'about'
