#cv
  .col-1-1.center
    %h1 Fernando Briano
    %p
      = t(:info)
      %br
      = t(:more_info)

  .col-1-1
    %h2
      = t(:work_experience)

    - ['elastic', 'deliveroo'].each do |job|
      .job
        .col-1-3.strong
          = t("#{job}.dates")
        .col-2-3
          .strong
            = t("#{job}.title")
          .description
            = t("#{job}.description")
    .job
      .col-1-3.strong
        = t("freelance.dates")
      .col-2-3
        .strong
          = t("freelance.title")
        .description
          = t("freelance.description")
          - ['datauy', 'craftedcode', 'cultivate', 'livepress'].each do |job|
            .job
              .col-3-3
                .strong
                  = t("#{job}.title")
                = t("#{job}.dates")
                .description
                  = t("#{job}.description")
    .job
      .col-1-3.strong
        = t("neo.dates")
      .col-2-3
        .strong
          = t("neo.title")
        .description
          = t("neo.description")
    .job
      .col-1-3.strong
        = t("globant.dates")
      .col-2-3
        .strong
          = t("globant.title")
        .description
          = t("globant.description")
          .job
            .col-3-3
              .strong
                = t("citygrid.title")
              = t("citygrid.dates")
              .description
                = t("citygrid.description")

    - ['tochos', 'guerwin', 'professor', 'pronet', 'visituruguay'].each do |job|
      .job
        .col-1-3.strong
          = t("#{job}.dates")
        .col-2-3
          .strong
            = t("#{job}.title")
          .description
            = t("#{job}.description")

  .col-1-1
    %h2
      = t('education.title')

    - ['ort', 'udelar', 'java'].each do |job|
      .job
        .col-1-3.strong
          = t("education.#{job}.dates")
        .col-2-3
          .strong
            = t("education.#{job}.name")
          = t("education.#{job}.degree")
          %br
          %em
            = t("education.#{job}.location")
          %br
          .description
            = t("education.#{job}.description")

  .col-1-1
    %h2
      = t('references.title')
    .col-1-1
      = t('references.body')
