%h1 Desarrollo con WordPress
%p
  Administro varios blogs con WordPress, he desarrollado algunos plugins e intento participar activamente en las comunidades de 
  = link_to "WordPress.org", "http://wordpress.org"
  (
  =link_to "fernandobt", "http://profiles.wordpress.org/users/fernandobt/"
  )
  y
  = link_to "WordPress Answers", "http://wordpress.stackexchange.com"

%a{:href=> "http://wordpress.stackexchange.com/users/298/fernando"}
  %img{:src=> "http://wordpress.stackexchange.com/users/flair/298.png",
  :width=> "208", :height=> "58", 
  :alt=> "Profile for Fernando at WordPress, Q&amp;A for WordPress developers and administrators",
  :title=> "profile for Fernando at WordPress, Q&amp;A for WordPress developers and administrators"}


%h2 Plugins de WordPress</h2>
%ul.wp-plugin
  - @plugins.each do |p|
    %li.wp_plugin_div
      = raw(p)


%h2 Blogs administrados con WordPress
%ul.wp-plugin
  %li.wp_plugin_div
    %h3 Picando C&oacute;digo
    = image_tag "blog-pc.jpg", :alt => "Picando Código"
    = link_to "http://picandocodigo.net", "http://picandocodigo.net"
  %li.wp_plugin_div
    %h3 Aplicando Scrum
    = image_tag "blog-scrum.jpg", :alt => "Aplicando Scrum"
    = link_to "http://aplicandoscrum.com", "http://aplicandoscrum.com"
  %li.wp_plugin_div
    %h3 Navegadores Web
    = image_tag "blog-nw.jpg", :alt => "Navegadores Web"
    = link_to "http://navegadoresweb.com", "http://navegadoresweb.com"
  %li.wp_plugin_div
    %h3 Entrop&iacute;a Records
    = image_tag "blog-ent.jpg", :alt => "Entropía Records"
    = link_to "http://entropiarecords.com", "http://entropiarecords.com"
