%section.hiddable
  %h2#programmer
    %span{class: 'mega-octicon octicon-file-code'}
    = t(:programmer)
    %span{class: 'mega-octicon octicon-chevron-down right'}

  -# Start hidden part
  #programming.unit.hidden.hiddable_content
    = text(:programmer_content)

    -# RubyGems
    .hiddable
      %h3
        %span{class: 'octicon octicon-ruby'}
        = t(:rubygems)
        %span{class: 'octicon octicon-chevron-down right'}

      .hidden.hiddable_content
        %table.gems
          - rubygems.each do |gem|
            %tr
              %td
                %strong
                  %a{href: gem['homepage_uri']}>= gem['name']
              %td
                %strong
                  Downloads:
                = gem['downloads']
              %td
                = gem['info']

    -# Open Data
    .hiddable
      %h3
        %span{class: 'octicon octicon-database'}
        =t("opendata.title")
        %span{class: 'octicon octicon-chevron-down right'}

      .hidden.hiddable_content
        =text("opendata.content")
        %table.opendata
          - (1..5).each do |i|
            %tr
              %td
                %strong
                  =text("opendata.project#{i}.title")
              %td
                =text("opendata.project#{i}.description")
              %td
                =text("opendata.project#{i}.links")

    -# WordPress
    .hiddable
      %h3
        %span{class: 'genericon genericon-wordpress'}
        =t(:wordpress)
        %span{class: 'octicon octicon-chevron-down right'}

      .hidden.hiddable_content
        =text(:wordpress_content)
        %table.gems
          %thead
            %td Name
            %td Rating
            %td Downloads
            %td
          - wordpress_plugins.each do |plugin|
            %tr
              %td
                %strong
                  %a{href: plugin['url']}>= plugin['name']
              %td
                = "#{plugin['rating']}/100"
              %td
                = plugin['downloaded']
              %td
                = plugin['installs']

    -# Other projects
    .hiddable
      %h3
        %span{class:'genericon genericon-website'}
        =t(:otherprojects)
        %span{class: 'octicon octicon-chevron-down right'}

      .hidden.hiddable_content
        =text(:otherprojects_content)

    -# Free Software
    .hiddable
      %h3
        %span{class: 'octicon octicon-tools'}
        = t(:free_software)
        %span{class: 'octicon octicon-chevron-down right'}

      .hidden.hiddable_content
        =text(:free_software_content)
        %ul
          - github.each do |lang|
            %li= "#{lang[0]} : #{lang[1]}"
