%section.hiddable
  %h2#programmer
    %span{class: 'icon-embed2'}
    = t(:programmer)
    %span{class: 'icon-chevron-down right'}

  -# Start hidden part
  #programming.unit.hidden.hiddable_content
    = text(:programmer_content)
    = text(:free_software_content)
    = text(:programming_languages, ' ' + github.map {|k,v| "#{k} (#{v})"}.join(", "))

    -# RubyGems
    .hiddable
      %h3
        %span{class: 'icon-ruby'}
        = t(:rubygems)
        %span{class: 'icon-chevron-down right'}

      .hidden.hiddable_content
        - gems = rubygems
        %h4
          = text(:personal)
        - gems[:personal].each do |gem|
          = partial 'gems_table', locals: {gem: gem}
        %h4
          = text(:elastic_gems)
        - gems[:elastic].each do |gem|
          = partial 'gems_table', locals: {gem: gem}

    -# Open Data
    .hiddable
      %h3
        %span{class: 'icon-database'}
        =t("opendata.title")
        %span{class: 'icon-chevron-down right'}

      .hidden.hiddable_content
        =text("opendata.content")
        %table.opendata
          - (1..5).each do |i|
            %tr
              %td
                %strong
                  =text("opendata.project#{i}.title")
              %td
                =text("opendata.project#{i}.description")
              %td
                =text("opendata.project#{i}.links")

    -# WordPress
    .hiddable
      %h3
        %span{class: 'icon-wordpress'}
        =t(:wordpress)
        %span{class: 'icon-chevron-down right'}

      .hidden.hiddable_content
        =text(:wordpress_content)
        %table.wordpress
          %thead
            %td Name
            %td Rating
            %td Downloads
            %td
          - wordpress_plugins.each do |plugin|
            %tr
              %td
                %strong
                  %a{href: plugin['url']}>= plugin['name']
              %td
                = "#{plugin['rating']}/100"
              %td
                = format_number(plugin['downloaded'])
              %td
                = plugin['installs']

    -# Other projects
    .hiddable
      %h3
        %span{class:'icon-rocket'}
        =t(:otherprojects)
        %span{class: 'icon-chevron-down right'}

      .hidden.hiddable_content
        =text(:otherprojects_content)
