<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2107177-10']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</head>
<body>
  <div id="header">
    <div class="izq">
      <h1>Fernando Briano</h1>
      Programador
    </div>
    <div class="der">
      
    </div>
  </div>
  <div class="menu gen_menu">
    <ul>
      <li>
      	<%= image_tag("home.png", :alt => "Inicio")%>
      	<%= link_to "Inicio", root_path %>
	  </li>
      <li>
      	<%= image_tag("wpmini.png", :alt => "WordPress devel")%>
      	<%= link_to "WordPress devel", wordpress_path %>
      </li>
      <li>
        <%= image_tag("ror-logo-16.png", :alt => "Acerca del sitio")%>
        <%= link_to "Acerca de este sitio", about_path %>
      </li>
      <li>
        <%= image_tag("contact.png", :alt => "Contacto")%>
        <%= link_to "Contacto", contact_path %>
      </li>
	</ul>
  </div>
  
  <div id="container">
	<div id="info">
    	<%= yield %>
    </div>
    
    <div id="sidebar">
  	<ul>
		<li>devel</li>
  		<li>
			<a href="http://profiles.wordpress.org/users/fernandobt/" title="Perfil en WordPress.org">
				<%= image_tag("wordpress.png", :alt => "Perfil en WordPress.org")%>
			</a>
		</li>
		<li>
			<a href="https://github.com/picandocodigo" title="Pefil en github">
				<%= image_tag("github.png", :alt => "Perfil en github")%>
			</a>
		</li>
		<li>
			<a href="http://www.linkedin.com/in/fernandobriano" title="Pefil en LinkedIn">
				<%= image_tag("linkedin.png", :alt => "Perfil en LinkedIn")%>
			</a>
		</li>
		<li>
			<a href="http://careers.stackoverflow.com/picandocodigo" title="Pefil en StackOverflow Careers">
				<%= image_tag("careers.png", :alt => "Perfil en StackOverflow Careers")%>
			</a>
		</li>
		
		
		<li>social</li>
  		<li>
			<a href="http://twitter.com/picandocodigo" title="@picandocodigo en Twitter">
				<%= image_tag("twitter.png", :alt => "@picandocodigo en Twitter")%>
			</a>
		</li>
		<li>
			<a href="http://identi.ca/picandocodigo">
				<%= image_tag("identica.png", :alt => "@picandocodigo en Identica", :title => "@picandocodigo en Identica")%>
			</a>
		</li>
		<li>
			<a href="http://www.last.fm/user/picandocodigo" title="Pefil en Last.fm">
				<%= image_tag("lastfm.png", :alt => "Perfil en Last.fm")%>
			</a>
		</li>
		<li>
			<a href="http://www.youtube.com/user/picandocodigo" title="Pefil en YouTube">
				<%= image_tag("youtube.png", :alt => "Perfil en YouTube")%>
			</a>
		</li>
		
  	</ul>
  	
  </div>
  </div>
<!-- RubyConf Ribbon
<%= image_tag("rubyconfuy.png", :alt => "RubyConf Uruguay 2011", :id => "rubyconfuy_ribbon", :usemap => '#rcuymap') %>
<map name="rcuymap">
  <area shape="polygon" coords="0,0,200,0,200,200" href="http://rubyconfuruguay.org" alt="RubyConf Uruguay" />
</map>-->
</body>
</html>
